// This file gets imported in every component by the scss cssLoader (see build/utils.js)
// https://github.com/vuejs/vue-loader/issues/328

// Load custom Foundation variables
@import "./settings";
// Load Foundation
@import "~foundation-sites/scss/foundation";
// Load MUI
@import "~motion-ui/src/motion-ui";
// Load Slick
@import "~slick-carousel/slick/slick";

// General styling

.subnav {
  background: $secondary-color;
  color:white;
  padding:25px 0;
  font-size:15px;
  a {
    color:white;
    &:hover {
      color: $tertiary-color;
    }
  }
}

.button {
  text-transform: uppercase;
}

section {
  padding-top: 7rem;
  padding-bottom:7rem;
}


.dark-bg {
  background: $secondary-color;
  color:white;
  .button {
    background: $tertiary-color;
    &:hover {
      color: $secondary-color;
      background:white;
    }
  }
}

.light-bg {
  background: $tertiary-color;
  color:white;
  .button {
    background: $secondary-color;
    &:hover {
      color: $secondary-color;
      background:white;
    }
  }
}

.padded-right {
  padding-right:23%;
  @include breakpoint(large down) {
    padding-right:10%;
  }
  @include breakpoint(small down) {
    padding-left:3%;
    padding-right: 3%;
  }
}

.padded-left {
  padding-left:23%;
  @include breakpoint(large down) {
    padding-left:10%;
  }
  @include breakpoint(small down) {
    padding-left:3%;
    padding-right: 3%;
  }
}

.gray-bg {
  background: $light-gray;
  h2, h3 {
    color:$secondary-color;
  }
  .button {
    background: $secondary-color;
    &:hover {
      background: $tertiary-color;
    }
  }
}


.callout {
  height: calc(100vh - 55px);
  @include breakpoint(medium up) {
    min-height: 880px;
  }
  background-color:#bde6ee;
  overflow:hidden;
}

.callout-content {
  z-index:90;
  position:relative;
  margin-top:20vh;
  color: $dark-gray;
  width:47%;
  @include breakpoint(medium down) {
    width:90%;
    margin-top:10vh;
  }
  h1 {
    font-weight:bold;
    color: $secondary-color;
  }
  p {
    font-size:22px;
    @include breakpoint(large down) {
      font-size:18px;
    }
  }

  .button.secondary:hover {
    background: $tertiary-color;
  }
}

.text-uppercase {
  text-transform: uppercase;
}


// Calendar Global
.vuecal__event--overlapping.vuecal__event--split2 {
  left:0;
}
.vuecal {
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-top:40px;
  .vuecal__cell {
  height: 16.66667%;
  }
  .vuecal__arrow {
    background:white;.button {
    background: $secondary-color;
    &:hover {
      color: $tertiary-color;
      background:white;
    }
  }
    padding:0px 12px 8px;
    transition: all 0.25s ease;
    &:hover {
      background: $secondary-color;
      color:white;
    }
  }
  .vuecal__arrow i.angle {
    padding: 0.18em;
    line-height:15px;
  }
  .vuecal__arrow--prev {
    padding-left:15px;
  }
  .vuecal__arrow--next {
    padding-right: 15px;
  }
  ul {
    margin:0 !important;
    padding: 0 !important;
  }
  .vuecal__weekdays-headings {
    text-transform: uppercase;
    background: $tertiary-color;
    color:white;
    font-size:15px;
  }
  .vuecal__heading {
    border-left: 1px solid white;
  }
  .vuecal__cell-date {
    top:8px;
    left:8px;
    position:absolute;
    padding:4px 6px;
  }
  .vuecal__cell.current, .vuecal__cell.today {
    background: none;
    .vuecal__cell-date {
      color:white;
      background:$tertiary-color;
    }
  }
  .vuecal__cell.selected {
    background: #fcfcfc;
    &.vuecal__cell--has-events {
      background: rgba(222, 224, 224, 0.7);
    }
  }
  .vuecal__cell--has-events {
    background: rgba(222,224,224,0.8);

    .vuecal__cell-date {
      color: $tertiary-color;
      font-weight:bold;
    }
  }
  .vuecal__event--focus {
    box-shadow: none;
  }
  .vuecal__title {
    background:transparent;
    color: $tertiary-color;
    margin-bottom:15px;
  }
  .vuecal__body {
    background:rgba(#ffffff,0.8);
  }
  .vuecal__no-event {display: none;}
  .vuecal__event {
    background:none;
    color: #4e5052;
    padding-left:8px;
    padding-right:30px;
    margin-top:auto;
    cursor: pointer;
  }

}

.vuecal--month-view .vuecal__cell-content {
  justify-content: flex-end !important;
  padding-bottom:8px;
}


.tooltip {
  box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.45);
  font-size:15px;
  line-height:17px;
  pointer-events: none !important;
  p {
    line-height:17px;
    margin-bottom:8px;
    margin-top:0;
  }
  h5 {
    font-size:15px;
    font-weight:bold;
    color: $tertiary-color;
    margin-bottom:8px;
    margin-top:0;
  }
}

// Remove ellipses...
.vuecal--short-events .vuecal__event-title {
  white-space: normal !important;
  padding: 0 8px !important;
}



// Bird
#bird {
  width:150px;
  height:auto;
  @include breakpoint(small only) {
    width:75px;
  }
}

#wing {
  animation: flap 2s ease infinite;
}


// Plane

.main-plane {
  animation: flyin 1.3s forwards;
}


// Clouds
.cloud {
  position:absolute;
  z-index:0;
}

.x1 {
 animation: movecloudsshort 80s linear infinite;
  width:195px;
  height:auto;
  top:10%;
  left:15%;
  @include breakpoint(large down) {
    width:125px;
  }
}

.x2 {
  animation: moveclouds 85s linear infinite;
  width:335px;
  height:auto;
  top:20%;
  left:70%;
  @include breakpoint(large down) {
    width:265px;
  }
}

.x3 {
  animation: moveclouds 90s linear infinite;
  width:432px;
  height:auto;
  bottom:25%;
  left:55%;
  @include breakpoint(large down) {
    width:360px;
  }
}


// Animations
@keyframes moveclouds {
  0% {margin-left: 0px; opacity:0;}
  2% {opacity:1;}
  100% {margin-left: -2000px;}
}

@keyframes movecloudsshort {
  0% {margin-left: 0px; opacity:0;}
  2% {opacity:1;}
  100% {margin-left: -800px;}
}

@keyframes flyin {
  0% {transform: translateX(-150%)}
  20% {transform: translateX(-150%)}
  100% {transform: translateX(0)}
}

@keyframes flap {
  0% { transform: scale(1, 1); }
  50% {transform: scale(1.1, 0.25) rotate(6deg) translate(-5px, 25px);}
  100% { transform: scale(1, 1); }
}

@keyframes flyby {
  0% {margin-left: -150px; }
  100% {margin-left: calc(100vw + 200px);}
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes floatup {
  0% {transform: translateY(0)}
  100% {transform: translateY(-230%)}
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    display:flex;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
    display:none;
  }
}

.brands .cell {
  //animation: fadeOutUp 1s forwards;
}

@for $i from 0 to 9 {
  .brands .cell:nth-child(#{$i}) { animation-delay: $i * 0.3s; }
}

/* Arrows */
.slick-prev,
.slick-next
{
  position: absolute;
  top: 50%;
  display: block;
  width: 16px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  opacity:0.6;
  color:transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  opacity:1;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
  opacity: .25;
}

.slick-prev  {
  left: -20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.03 31.22'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23939699;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eprev%3C/title%3E%3Cpolyline class='a' points='16.02 30.22 1.41 15.61 16.02 1'/%3E%3C/svg%3E");
  background-postion: top left;
  &:hover {
    color:transparent;
  }

}
.slick-next {
  right: -20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.03 31.22'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23939699;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Enext%3C/title%3E%3Cpolyline class='a' points='1 30.22 15.61 15.61 1 1'/%3E%3C/svg%3E");
  background-postion: top left;
  &:hover {
    color:transparent;
  }
}


[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}


[dir='rtl'] .slick-next
{
  right: auto;
  left: -25px;
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 50px;
}

.slick-dots
{
  position: absolute;
  bottom: -35px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: #003B4D;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}

